<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name></display-name>
  <servlet>
    <description></description>
    <display-name>hello</display-name>
    <servlet-name>hello</servlet-name>
    <servlet-class>cdu.service.StatusExposingServletResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nowhumidity</display-name>
    <servlet-name>nowhumidity</servlet-name>
    <servlet-class>cdu.service.nowhumidityService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nowhumidity</servlet-name>
    <url-pattern>/nowhumidity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Now_DustMangerService</display-name>
    <servlet-name>Now_DustMangerService</servlet-name>
    <servlet-class>cdu.service.Now_DustMangerService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Now_DustMangerService</servlet-name>
    <url-pattern>/Now_DustMangerService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Old_dustService</display-name>
    <servlet-name>Old_dustService</servlet-name>
    <servlet-class>cdu.service.Old_dustService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Old_dustService</servlet-name>
    <url-pattern>/Old_dustService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NowTemperature1</display-name>
    <servlet-name>NowTemperature1</servlet-name>
    <servlet-class>cdu.service.NowTemperature</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NowTemperature1</servlet-name>
    <url-pattern>/NowTemperature1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NowPressure1</display-name>
    <servlet-name>NowPressure1</servlet-name>
    <servlet-class>cdu.service.NowPressure</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NowPressure1</servlet-name>
    <url-pattern>/NowPressure1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HumidityService1</display-name>
    <servlet-name>HumidityService1</servlet-name>
    <servlet-class>cdu.service.HumidityService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HumidityService1</servlet-name>
    <url-pattern>/HumidityService1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoiseService1</display-name>
    <servlet-name>NoiseService1</servlet-name>
    <servlet-class>cdu.service.NoiseService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoiseService1</servlet-name>
    <url-pattern>/NoiseService1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nowtemperature</display-name>
    <servlet-name>nowtemperature</servlet-name>
    <servlet-class>cdu.service.nowtemperatureService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nowtemperature</servlet-name>
    <url-pattern>/nowtemperature</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>oldpressureservice1</display-name>
    <servlet-name>oldpressureservice1</servlet-name>
    <servlet-class>cdu.service.oldpressureservice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>oldpressureservice1</servlet-name>
    <url-pattern>/oldpressureservice1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>oldtemperature1</display-name>
    <servlet-name>oldtemperature1</servlet-name>
    <servlet-class>cdu.service.oldtemperature</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>oldtemperature1</servlet-name>
    <url-pattern>/oldtemperature1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>oldhumidity1</display-name>
    <servlet-name>oldhumidity1</servlet-name>
    <servlet-class>cdu.service.oldhumidity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>oldhumidity1</servlet-name>
    <url-pattern>/oldhumidity1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>oldnoise1</display-name>
    <servlet-name>oldnoise1</servlet-name>
    <servlet-class>cdu.service.oldnoise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>oldnoise1</servlet-name>
    <url-pattern>/oldnoise1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userManageService</display-name>
    <servlet-name>userManageService</servlet-name>
    <servlet-class>cdu.service.userManageService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userManageService</servlet-name>
    <url-pattern>/userManageService</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>cdu.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>URLPermissionFilter</filter-name>
    <filter-class>cdu.filter.URLPermissionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>URLPermissionFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <listener>
    <listener-class>cdu.socketserver.ServiceLoader</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>/html/login.jsp</welcome-file>
  </welcome-file-list>
</web-app>